*{
    margin: 20;
    padding: 20;
}

body
  p {color:rgb(0, 0, 0)}
  h1 {color:rgb(255, 255, 255);}
  h1 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;}
  h2 {color:rgb(0, 0, 0);}

  body
  {background-image:url("IMAGES/amber-C3iS6W0zUMs-unsplash.jpg");
  background-size:cover;}


  .experience {
    background-color: rgb(161, 145, 101);
    opacity: 0.9;
    color: white;
    border: 5px solid rgb(255, 255, 255);
    margin: 30px;
    padding: 10px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Footer */
  .footer {
      padding: 5px;
      margin: 20px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
      margin-top: 20px;
    }
    .footer h3{
        margin-bottom: 25px;
        margin-top: 20px;
        font-weight: 400;
    }
    
    .fa {
        padding: 5px;
        font-size: 1px;
        height: 25px;
        width: 28px;
        text-align: center;
        margin: 10px 5px 5px 10px;
        border-radius: 50px;
    }
    .fa:hover {
        opacity: 10.0;
    }
  
    .fa-facebook {
      background: #31487a;
      color: white;
    }
    
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
  
    .fa-instagram {
        background: #b109b1;
        color: cornsilk;
    }
  
    .fa-youtube {
        background: #9e0707;
        color: white;
    }
